.main {
	behavior: url(js/PIE.htc);
	position: relative;
	background-color: #fff;
}

body {
	min-width: 1240px;
}

.form_block .title {
	letter-spacing: -1px;
}

#form .invalid .error-message, 
#form .empty .empty-message {
	display: block;

}

#form .error-message, 
#form .empty-message {
	display: none;
}


.tmSelect2:after {
	background: #686868 !important; 
}
.capt a.fa-caret-right:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
