<header>
    <div id="stuck_container" class="container" style="position: relative; top: 0px; z-index: 999; left: 0px; right: 0px; margin: 0px auto;">
        <div class="row">
            <div class="grid_12">

                <div class="container">
                    {% include 'part/head/icon.twig' %}
                    {% include 'part/head/phone.twig' %}
                    <div class="row" id="head-menu">
                        <div class="grid_10">

                            <div class="menu_block">
                                <nav class="horizontal-nav full-width horizontalNav-notprocessed">
                                    {% include 'part/menu/menu.twig'
                                    with { 'menu': menu.main.get_items, 'class':'sf-menu' } %}
                                </nav>
                            </div>
                            <div class="clear"></div>

                        </div>
                    </div>
             
            </div>
        </div>
    </div>
 </header>
