{#
<div class="h_phone">{{ option.head.text_phone }}
    <span class="col1"><span class="fa fa-phone"></span>{{ option.head.phone }}</span>
</div>
#}
<div class="h_phone">
    <span class="col1"><span class="fa fa-phone"></span>206-412-9580 </span>
</div>
<div class="h_phone">
    <span class="col1"><span class="fa fa-phone"></span>888-863-2911 </span>
</div>
<div class="h_phone">
    <span class="col1"><span class="fa fa-phone"></span>925-464-9490 </span>
</div>