<div class="container">
    <div class="row">
        <div class="grid_12">
            <footer>
                {{ home_icon }}
                {% include 'part/menu/menu.twig'
                with { 'menu': menu.footer_menu.get_items, 'class':'f_menu' } %}
                {% include 'part/footer/copy-right.twig' %}
            </footer>
        </div>
    </div>
</div>