<ul {% if class %}class="{{ class }}"{% endif %}>
    {% for item in menu %}
        <li class="
        {% for class in item.classes %}
            {% if(class == 'current-menu-item' or class == 'current_page_parent') %}
                    current
             {% endif %}
		{% endfor %}">
            <a href="{{item.get_link}}">{{item.title}}</a>
            {% if item.get_children %}
                {% include "part/menu/menu.twig" with {'menu': item.get_children} only %}
            {% endif %}
        </li>
    {% endfor %}
</ul>