{% extends "layout/base.twig" %}

{% block content %}
    <div class="grid_8 content">
        <h3>{{post.post_title}}</h3>
        <div>
            {{post.content}}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% if about_sidebar %}
        <div class="grid_4">
            <h3>Why Us?</h3>
            <ul class="list1">
                {{ about_sidebar }}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block content_footer %}
    {% include 'page/about/index.twig' %}
{% endblock %}