{% extends "layout/base.twig" %}

{% block content %}
    <div class="grid_12 content">
        <h3>{{ post.post_title }}</h3>
        <div>
            {{ post.content }}
        </div>
    </div>
{% endblock %}

{% block sidebar %}

{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ theme_url }}/css/form.css">
{% endblock %}