{% extends "layout/base.twig" %}

{% block content %}
    <div class="grid_8 content">
        <h3>{{post.post_title}}</h3>
        <div>
            {{post.content}}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="grid_4">
        {% if customer_sidebar %}
            {{ customer_sidebar }}
        {% endif %}
    </div>
{% endblock %}