{% extends 'layout/base.twig' %}

{% block head %}
    <script>
        $(document).ready(function(){
            jQuery('#camera_wrap').camera({
                loader: false,
                pagination: true ,
                minHeight: '250',
                thumbnails: false,
                height: '31.11111111111111%',
                caption: false,
                navigation: false,
                fx: 'mosaic'
            });
            $().UItoTop({ easingType: 'easeOutQuart' });
            $('#stuck_container').tmStickUp({});
        });

    </script>
{% endblock %}

{% block header %}
    {{ parent() }}
    {% include 'part/slider/index.twig' %}
{% endblock %}

{% block content %}
    <div class="grid_8">
        <h3>{{post.post_title}}</h3>
        <div class="content">
            {{post.content}}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'page/home/sidebar.twig' %}
{% endblock %}