{% extends 'layout/base.twig' %}

{% block head %}
    <script>
        $(document).ready(function(){
            jQuery('#camera_wrap').camera({
                loader: false,
                pagination: true ,
                minHeight: '250',
                thumbnails: false,
                height: '31.11111111111111%',
                caption: false,
                navigation: false,
                fx: 'mosaic'
            });
            $().UItoTop({ easingType: 'easeOutQuart' });
            $('#stuck_container').tmStickUp({});
        });

    </script>
{% endblock %}

{% block top %}
{% endblock %}

{% block content %}
    <div class="grid_8 content">
        <h3>Recent News</h3>
    {% for post in posts %}
        {% include 'page/blog/main.twig' with { 'post': post } %}
    {% endfor %}
    </div>
{% endblock %}