{% extends "layout/base.twig" %}


{% block top %}
    {% if services.0.text %}
        <div class="grid_12">
            <h3>Services Overview</h3>
        </div>
        <div id="film_roll">
            {% for service in services %}
                {% include 'page/services/service.twig' with{"service": service, 'count':services|length} %}
            {% endfor %}
        </div>
        <div class="clear"></div>
        <div class="grid_12">
            <div class="hor hr2"></div>
        </div>
    {% endif %}
{%  endblock %}

{% block footer_css_js %}
    {% if services|length > 3 %}
        <script>
            var film_roll = new FilmRoll({
                configure_load: true,
                container: '#film_roll',
            });
        </script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="grid_8 content">
        <h3>{{ post.post_title }}</h3>
        <div>
            {{ post.content }}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
        <div class="grid_4">
            <h3>Services List</h3>

                {% include 'part/menu/service.twig'
                with { 'menu': menu.services.get_items, 'class':'sf-menu' } %}
        </div>
{% endblock %}