{% extends "layout/base.twig" %}

{% block top %}
{% endblock %}

{% block content %}
	<div class="grid_8 content">
		<h3>{{ post.title }}</h3>
		{% if post.get_thumbnail %}
			<img src="{{post.thumbnail.src|resize('medium')}}" alt="" class="img_inner fl1 fleft">
		{% endif %}
		<div class="clear cl1"></div>
		{{ post.content }}
		{% if post.comment_status != 'closed' %}
			<section class="comments">
				<div class="respond">
					<h3 class="h2">Comments</h3>
					{{ fn('comment_form') }}
				</div>
				<div class="responses">
					{% for cmt in post.get_comments() %}
						{% include "comment.twig" with {comment:cmt} %}
					{% endfor %}
				</div>
			</section>
		{% endif %}
	</div>
{% endblock %}
