<div class="grid_4">
    <blockquote class="bq1">
        <p style="height: 152px;" class="maxheight">
                "... {{ testimonial.description }}... "
        </p>
        <div class="bq-bot">{{ testimonial.text }}</div>
    </blockquote>
</div>