<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name = "format-detection" content = "telephone=no" />
    <link rel="icon" href="{{ theme_url }}/images/favicon.ico">
    <link rel="shortcut icon" href="{{ theme_url }}/images/favicon.ico" />
    <!-- wp_head start -->
    {{function('wp_head')}}
    <!-- wp_head finish -->